[submodule "damo"]
	path = damo
	url = https://github.com/onlyoneofme/damo.git

[submodule "masim"]
	path = masim
	url = https://github.com/sjp38/masim.git

[submodule "kernel"]
	path = kernel
	url = https://github.com/onlyoneofme/damon-multi-contexts.git
